header {
  width: 100%;
  min-height: 70px;
  color: white;
  border-bottom: 1px solid #cccccc;
}

header::before {
  content: "";
  display: block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  width: auto;
  height: 100%;
}
